# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Data - ignore raw data and FULL datasets (too large for GitHub)
data/raw/
data/processed/*_full.csv

# Keep small datasets for testing
!data/processed/*_small.csv